body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(images/bg.jpg);
	width: 100%;
	margin: 0;
	background-size: cover;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	background: transparent;
	backdrop-filter: blur(3px);
	width: 30%;
	height: 550px;
	margin-top: 15px;
	border: 1px solid;
	border-radius: 25px;
	padding: 50px 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.heading {
	font-size: 30px;
	font-weight: bold;
}
.image {
	width: 50px;
}
.img-btn {
	background-color: transparent;
	border: 3px solid white;
	border-radius: 65px;
	height: 120px;
	width: 120px;
	padding: 25px;
	margin-right: 10px;
	margin-bottom: 35px;
}
.res {
	font-weight: bold;
	font-size: 25px;
}
.move {
	margin-bottom: 45px;
}
.reset {
	padding: 10px 12px;
	border: none;
	border-radius: 50px;
}
@media (max-width: 1342px){
	.main {
    width: 40%;
  }
}
@media (max-width: 1009px){
	.main {
    width: 50%;
  }
}
@media (max-width: 804px){
	.main {
    width: 60%;
  }
}
@media (max-width: 676px){
	.body{
		margin: 0;
	}
	.main {
		overflow: hidden;
    height: 568px;
    width: 90%;
		padding: 0px;
		margin: 0;
	}
	
	.heading {
		font-size: 40px;
    font-weight: bold;
    width: 400px;
	}
	.btn{
		font-size: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
	}
	.img-btn{
		margin: 0%;
	}
}
@media (max-width: 412px){
	.body{
		margin: 0;
		display: none;
	}
	.main {
		overflow: hidden;
    height: 568px;
    width: 97%;
		margin: 10px 0px;
	}
	
	.heading {
		font-size: 34px;
    font-weight: bold;
    width: 347px;
	}
	.btn{
		font-size: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
	}
	.img-btn{
		margin: 0%;
	}
}
@media (max-width: 359px){
	.body{
		margin: 0;
		display: none;
	}
	.main {
		overflow: hidden;
    height: 568px;
    width: 97%;
		margin: 10px 0px;
	}
	
	.heading {
		font-size: 31px;
    font-weight: bold;
    width: 327px;

	}
	.btn{
		font-size: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
	}
	.img-btn{
		margin: 0%;
	}
}
@media (max-width: 338px){
	.body{
		margin: 0;
		display: none;
	}
	.main {
		overflow: hidden;
    height: 568px;
    width: 97%;
		margin: 10px 0px;
	}
	
	.heading {
		font-size: 27px;
    font-weight: bold;
    width: 279px;

	}
	.btn{
		font-size: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
	}
	.img-btn{
		margin: 0%;
	}
}

